Repository gtk-rs/gtk4-rs, pull requests merged in 2021-07, with the labels that each got.

#497 book: update hello world screenshot
  book/src/img/hello_world_button.png
Labels: book

#465 examples: add virtual_methods
  examples/Cargo.toml
  examples/virtual_methods/README.md
  examples/virtual_methods/base_button/imp.rs
  examples/virtual_methods/base_button/mod.rs
  examples/virtual_methods/derived_button/imp.rs
  examples/virtual_methods/derived_button/mod.rs
  examples/virtual_methods/main.rs
Labels: examples

#506 Drop api fixes
  gdk4/Gir.toml
  gdk4/src/auto/drop.rs
  gdk4/src/drop.rs
Labels: gdk

#498 handle mut parameters per issue #400
  gdk4/Gir.toml
  gdk4/src/auto/content_formats.rs
  gdk4/src/auto/display.rs
  gdk4/src/auto/surface.rs
  gdk4/src/display.rs
  gsk4/Gir.toml
  gsk4/src/auto/gl_shader.rs
  gsk4/src/auto/transform.rs
  gsk4/src/gl_shader.rs
  gsk4/src/lib.rs
  gtk4/Gir.toml
  gtk4/src/auto/css_section.rs
  gtk4/src/auto/shortcut_action.rs
  gtk4/src/auto/shortcut_trigger.rs
Labels: gdk, gsk, gtk

#436 book: Add todo app chapter
  book/listings/Cargo.toml
  book/listings/lists/2/integer_object/mod.rs
  book/listings/lists/3/integer_object/mod.rs
  book/listings/lists/4/integer_object/mod.rs
  book/listings/lists/5/integer_object/mod.rs
  book/listings/todo_app/1/main.rs
  book/listings/todo_app/1/org.gtk.Todo.gschema.xml
  book/listings/todo_app/1/style.css
  book/listings/todo_app/1/todo_object/imp.rs
  book/listings/todo_app/1/todo_object/mod.rs
  book/listings/todo_app/1/todo_row/imp.rs
  book/listings/todo_app/1/todo_row/mod.rs
  book/listings/todo_app/1/todo_row/todo_row.ui
  book/listings/todo_app/1/utils.rs
  book/listings/todo_app/1/window/imp.rs
  book/listings/todo_app/1/window/mod.rs
  book/listings/todo_app/1/window/shortcuts.ui
  book/listings/todo_app/1/window/window.ui
  book/src/SUMMARY.md
  book/src/prerequisites.md
Labels: book
